
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url('/pexels-photo-7658373.jpeg');
    
    background-repeat: no-repeat;
    background-size: cover; 
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    /* justify-content: space-between; */
 
}
.form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    border-right: .1px rgb(71, 63, 47) solid;
    border-left: .1px rgb(71, 63, 47) solid;
    padding: 10px;
    margin: 5px;
}
.afika{
    /* font-weight: bold; */
    font-size: 30px;
    color: rgb(255, 166, 0);
    border-top: 1px red solid;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9) */

}
.afika span{
font-weight: bold;
color: rgb(202, 37, 37) ;
text-shadow: 5px 1px 1px rgba(0, 0, 0, 0.9)

}
.navbar-brand{
    font-style: italic;
    font-family:cursive;
    color: rgb(255, 166, 0);
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.9);
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

}
.container-fluid a{
    text-decoration: none;
    
}
.navbar-nav a{
color: white;
padding: 10px;
width: 100px;
text-align: center;
}

.navbar-nav a:hover{
    border-bottom: 3px rgb(255, 166, 0) solid;
}
.navbar{
    background-color: rgba(14, 31, 31, 0.8);
    /* display: flex; */
    /* align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; */
    padding: 0;
    color: white;
    width: 100%;

}
#login{
    text-decoration:underline;
    color: rgb(255, 166, 0);
    margin-left: 5vw;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    /* margin-top: 10%; */
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 20px;
    color: white;
  }
  form input {
    padding: 5px;
    width: 25vw;
    
    border-radius: 5px;
  }
  label {
    font-size: 20px;
  }
  button {
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }
  button:hover {
    cursor: pointer;
    border-color: white;
    border: 5;
  }
  section >div> p > a {
    color: rgb(255, 166, 0);
    text-shadow: 0 0;
    text-decoration: underline;
  }
  section >div> p {
    /* text-shadow: 1px 1px 9px rgba(255, 255, 255, 0.5); */
    color: white;
  }