body {
  padding: 0;
  margin: 0;
  background-image: url("/pexels-photo.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  border-right: 0.1px rgb(71, 63, 47) solid;
  border-left: 0.1px rgb(71, 63, 47) solid;
  padding: 10px;
  margin: 5px;
}
/* .afika{
    font-weight: bold;
    font-size: 30px;
    color: rgb(255, 166, 0);

} */
.afika {
  /* font-weight: bold; */
  font-size: 30px;
  color: rgb(255, 166, 0);
  border-top: 1px red solid;
}
.afika span {
  font-weight: bold;
  color: rgb(202, 37, 37);
}
.navbar-brand {
  font-style: italic;
  font-family: cursive;
  color: rgb(255, 166, 0);
}
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.container-fluid a {
  text-decoration: none;
}
.navbar-nav a {
  color: white;
  padding: 10px;
  width: 100px;
  text-align: center;
}

.navbar-nav a:hover {
  border-bottom: 3px rgb(255, 166, 0) solid;
}
.navbar {
  background-color: rgba(14, 31, 31, 0.8);
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  color: white;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  /* margin-top: 10%; */
  padding: 20px;
  background-color: rgb(235, 236, 232, 0.3);
  border-radius: 20px;
  color: white;
}
form input {
  padding: 5px;
  width: 25vw;
  
  border-radius: 5px;
}
label {
  font-size: 20px;
}
button {
  width: 100px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
button:hover {
  cursor: pointer;
  border-color: white;
  border: 5;
}
section > p > a {
  color: rgb(255, 166, 0);
  text-shadow: 0 0;
  text-decoration: underline;
}
section > p {
  text-shadow: 1px 1px 9px rgba(255, 255, 255, 0.5);
  color: white;
}
footer {
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: rgb(235, 236, 232, 0.1);
  width: 100%;
  text-align: center;
}

a {
  cursor: pointer;
}
